{% extends "layout.html" %}

{% block title %}
EPFO Search Engine
{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col">
            <form action="{{ url_for('searchResult') }}" method="post">
                <div class="row">
                    <div class="col form-group">
                        <input class="form-control form-control-lg" name="query" type="text" placeholder="Enter your query..." aria-label=".form-control-lg example">
                    </div>                    
                </div>
                <div class="row mt-4">
                    <div class="col text-end">
                        <button type="submit" class="btn btn-md btn-danger">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}